--
-- PostgreSQL database dump
--

\restrict d4vYV3A5giJH2z6dFbBEOLNRGG0ie1aKOt4vrfhPLq9Ncfo9AprtcdjhD8ZqRjR

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: root
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO root;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: root
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ApplicationStatus; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public."ApplicationStatus" AS ENUM (
    'NEW',
    'PROCESSING',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."ApplicationStatus" OWNER TO root;

--
-- Name: BuildingClass; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public."BuildingClass" AS ENUM (
    'ECONOMY',
    'COMFORT',
    'BUSINESS',
    'PREMIUM',
    'ELITE'
);


ALTER TYPE public."BuildingClass" OWNER TO root;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Application; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public."Application" (
    id integer NOT NULL,
    name text NOT NULL,
    phone text NOT NULL,
    status public."ApplicationStatus" DEFAULT 'NEW'::public."ApplicationStatus" NOT NULL,
    "propertyType" text,
    "propertyId" integer,
    link text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Application" OWNER TO root;

--
-- Name: Application_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."Application_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Application_id_seq" OWNER TO root;

--
-- Name: Application_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."Application_id_seq" OWNED BY public."Application".id;


--
-- Name: CommercialProperty; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public."CommercialProperty" (
    id integer NOT NULL,
    title text NOT NULL,
    address text NOT NULL,
    price integer NOT NULL,
    "pricePerM2" integer NOT NULL,
    area integer NOT NULL,
    city text,
    lat double precision,
    lng double precision,
    "hasFinishing" boolean DEFAULT false NOT NULL,
    purpose text,
    metro text,
    "metroDistance" integer,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CommercialProperty" OWNER TO root;

--
-- Name: CommercialProperty_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."CommercialProperty_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."CommercialProperty_id_seq" OWNER TO root;

--
-- Name: CommercialProperty_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."CommercialProperty_id_seq" OWNED BY public."CommercialProperty".id;


--
-- Name: CountryProperty; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public."CountryProperty" (
    id integer NOT NULL,
    title text NOT NULL,
    address text NOT NULL,
    metro text,
    "metroDistance" integer,
    city text,
    price integer NOT NULL,
    lat double precision,
    lng double precision,
    "landArea" integer NOT NULL,
    bedrooms integer NOT NULL,
    "totalFloors" integer NOT NULL,
    "pricePerM2" integer NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CountryProperty" OWNER TO root;

--
-- Name: CountryProperty_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."CountryProperty_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."CountryProperty_id_seq" OWNER TO root;

--
-- Name: CountryProperty_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."CountryProperty_id_seq" OWNED BY public."CountryProperty".id;


--
-- Name: Image; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public."Image" (
    id integer NOT NULL,
    url text NOT NULL,
    "newBuildingComplexId" integer,
    "newBuildingApartmentId" integer,
    "readyApartmentId" integer,
    "rentalApartmentId" integer,
    "countryPropertyId" integer,
    "commercialPropertyId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Image" OWNER TO root;

--
-- Name: Image_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."Image_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Image_id_seq" OWNER TO root;

--
-- Name: Image_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."Image_id_seq" OWNED BY public."Image".id;


--
-- Name: NearbyPlace; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public."NearbyPlace" (
    id integer NOT NULL,
    "complexId" integer NOT NULL,
    name text NOT NULL,
    category text NOT NULL,
    distance integer,
    icon text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."NearbyPlace" OWNER TO root;

--
-- Name: NearbyPlace_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."NearbyPlace_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."NearbyPlace_id_seq" OWNER TO root;

--
-- Name: NearbyPlace_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."NearbyPlace_id_seq" OWNED BY public."NearbyPlace".id;


--
-- Name: NewBuildingApartment; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public."NewBuildingApartment" (
    id integer NOT NULL,
    "complexId" integer NOT NULL,
    bedrooms integer NOT NULL,
    area integer NOT NULL,
    price integer NOT NULL,
    "pricePerM2" integer NOT NULL,
    floor integer NOT NULL,
    "totalFloors" integer NOT NULL,
    city text,
    lat double precision,
    lng double precision,
    type text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."NewBuildingApartment" OWNER TO root;

--
-- Name: NewBuildingApartment_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."NewBuildingApartment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."NewBuildingApartment_id_seq" OWNER TO root;

--
-- Name: NewBuildingApartment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."NewBuildingApartment_id_seq" OWNED BY public."NewBuildingApartment".id;


--
-- Name: NewBuildingComplex; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public."NewBuildingComplex" (
    id integer NOT NULL,
    name text NOT NULL,
    address text NOT NULL,
    district text,
    metro text,
    "metroDistance" integer,
    city text,
    developer text NOT NULL,
    "priceFrom" integer NOT NULL,
    "areaFrom" integer,
    "buildingClass" text,
    floors integer,
    "totalApartments" integer,
    "availableApartments" integer,
    lat double precision,
    lng double precision,
    "completionDate" timestamp(3) without time zone,
    height integer,
    "hasParking" boolean DEFAULT false NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."NewBuildingComplex" OWNER TO root;

--
-- Name: NewBuildingComplex_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."NewBuildingComplex_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."NewBuildingComplex_id_seq" OWNER TO root;

--
-- Name: NewBuildingComplex_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."NewBuildingComplex_id_seq" OWNED BY public."NewBuildingComplex".id;


--
-- Name: ReadyApartment; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public."ReadyApartment" (
    id integer NOT NULL,
    title text NOT NULL,
    "complexName" text,
    address text NOT NULL,
    city text,
    area integer NOT NULL,
    price integer NOT NULL,
    "pricePerM2" integer NOT NULL,
    bedrooms integer NOT NULL,
    floor integer NOT NULL,
    "totalFloors" integer NOT NULL,
    lat double precision,
    lng double precision,
    metro text,
    "metroDistance" integer,
    description text,
    developer text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ReadyApartment" OWNER TO root;

--
-- Name: ReadyApartment_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."ReadyApartment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ReadyApartment_id_seq" OWNER TO root;

--
-- Name: ReadyApartment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."ReadyApartment_id_seq" OWNED BY public."ReadyApartment".id;


--
-- Name: Realtor; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public."Realtor" (
    id integer NOT NULL,
    "fullName" text NOT NULL,
    phone text,
    email text,
    "avatarUrl" text,
    "position" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Realtor" OWNER TO root;

--
-- Name: Realtor_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."Realtor_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Realtor_id_seq" OWNER TO root;

--
-- Name: Realtor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."Realtor_id_seq" OWNED BY public."Realtor".id;


--
-- Name: RentalApartment; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public."RentalApartment" (
    id integer NOT NULL,
    title text NOT NULL,
    address text NOT NULL,
    area integer NOT NULL,
    "pricePerMonth" integer NOT NULL,
    bedrooms integer NOT NULL,
    lat double precision,
    lng double precision,
    floor integer NOT NULL,
    "totalFloors" integer NOT NULL,
    city text,
    metro text,
    "metroDistance" integer,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RentalApartment" OWNER TO root;

--
-- Name: RentalApartment_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."RentalApartment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."RentalApartment_id_seq" OWNER TO root;

--
-- Name: RentalApartment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."RentalApartment_id_seq" OWNED BY public."RentalApartment".id;


--
-- Name: Review; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public."Review" (
    id integer NOT NULL,
    "authorName" text,
    rating integer NOT NULL,
    comment text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Review" OWNER TO root;

--
-- Name: Review_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public."Review_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Review_id_seq" OWNER TO root;

--
-- Name: Review_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public."Review_id_seq" OWNED BY public."Review".id;


--
-- Name: Application id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Application" ALTER COLUMN id SET DEFAULT nextval('public."Application_id_seq"'::regclass);


--
-- Name: CommercialProperty id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."CommercialProperty" ALTER COLUMN id SET DEFAULT nextval('public."CommercialProperty_id_seq"'::regclass);


--
-- Name: CountryProperty id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."CountryProperty" ALTER COLUMN id SET DEFAULT nextval('public."CountryProperty_id_seq"'::regclass);


--
-- Name: Image id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Image" ALTER COLUMN id SET DEFAULT nextval('public."Image_id_seq"'::regclass);


--
-- Name: NearbyPlace id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."NearbyPlace" ALTER COLUMN id SET DEFAULT nextval('public."NearbyPlace_id_seq"'::regclass);


--
-- Name: NewBuildingApartment id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."NewBuildingApartment" ALTER COLUMN id SET DEFAULT nextval('public."NewBuildingApartment_id_seq"'::regclass);


--
-- Name: NewBuildingComplex id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."NewBuildingComplex" ALTER COLUMN id SET DEFAULT nextval('public."NewBuildingComplex_id_seq"'::regclass);


--
-- Name: ReadyApartment id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."ReadyApartment" ALTER COLUMN id SET DEFAULT nextval('public."ReadyApartment_id_seq"'::regclass);


--
-- Name: Realtor id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Realtor" ALTER COLUMN id SET DEFAULT nextval('public."Realtor_id_seq"'::regclass);


--
-- Name: RentalApartment id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."RentalApartment" ALTER COLUMN id SET DEFAULT nextval('public."RentalApartment_id_seq"'::regclass);


--
-- Name: Review id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Review" ALTER COLUMN id SET DEFAULT nextval('public."Review_id_seq"'::regclass);


--
-- Data for Name: Application; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public."Application" (id, name, phone, status, "propertyType", "propertyId", link, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CommercialProperty; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: CountryProperty; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: Image; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: NearbyPlace; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public."NearbyPlace" (id, "complexId", name, category, distance, icon, "createdAt") FROM stdin;
\.


--
-- Data for Name: NewBuildingApartment; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: NewBuildingComplex; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: ReadyApartment; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public."ReadyApartment" (id, title, "complexName", address, city, area, price, "pricePerM2", bedrooms, floor, "totalFloors", lat, lng, metro, "metroDistance", description, developer, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Realtor; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public."Realtor" (id, "fullName", phone, email, "avatarUrl", "position", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: RentalApartment; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: Review; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public."Review" (id, "authorName", rating, comment, "createdAt") FROM stdin;
\.


--
-- Name: Application_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."Application_id_seq"', 1, false);


--
-- Name: CommercialProperty_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."CommercialProperty_id_seq"', 5, true);


--
-- Name: CountryProperty_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."CountryProperty_id_seq"', 4, true);


--
-- Name: Image_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."Image_id_seq"', 50, true);


--
-- Name: NearbyPlace_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."NearbyPlace_id_seq"', 1, false);


--
-- Name: NewBuildingApartment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."NewBuildingApartment_id_seq"', 13, true);


--
-- Name: NewBuildingComplex_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."NewBuildingComplex_id_seq"', 3, true);


--
-- Name: ReadyApartment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."ReadyApartment_id_seq"', 1, false);


--
-- Name: Realtor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."Realtor_id_seq"', 1, false);


--
-- Name: RentalApartment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."RentalApartment_id_seq"', 4, true);


--
-- Name: Review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public."Review_id_seq"', 1, false);


--
-- Name: Application Application_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Application"
    ADD CONSTRAINT "Application_pkey" PRIMARY KEY (id);


--
-- Name: CommercialProperty CommercialProperty_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."CommercialProperty"
    ADD CONSTRAINT "CommercialProperty_pkey" PRIMARY KEY (id);


--
-- Name: CountryProperty CountryProperty_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."CountryProperty"
    ADD CONSTRAINT "CountryProperty_pkey" PRIMARY KEY (id);


--
-- Name: Image Image_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "Image_pkey" PRIMARY KEY (id);


--
-- Name: NearbyPlace NearbyPlace_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."NearbyPlace"
    ADD CONSTRAINT "NearbyPlace_pkey" PRIMARY KEY (id);


--
-- Name: NewBuildingApartment NewBuildingApartment_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."NewBuildingApartment"
    ADD CONSTRAINT "NewBuildingApartment_pkey" PRIMARY KEY (id);


--
-- Name: NewBuildingComplex NewBuildingComplex_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."NewBuildingComplex"
    ADD CONSTRAINT "NewBuildingComplex_pkey" PRIMARY KEY (id);


--
-- Name: ReadyApartment ReadyApartment_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."ReadyApartment"
    ADD CONSTRAINT "ReadyApartment_pkey" PRIMARY KEY (id);


--
-- Name: Realtor Realtor_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Realtor"
    ADD CONSTRAINT "Realtor_pkey" PRIMARY KEY (id);


--
-- Name: RentalApartment RentalApartment_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."RentalApartment"
    ADD CONSTRAINT "RentalApartment_pkey" PRIMARY KEY (id);


--
-- Name: Review Review_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_pkey" PRIMARY KEY (id);


--
-- Name: Image Image_commercialPropertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "Image_commercialPropertyId_fkey" FOREIGN KEY ("commercialPropertyId") REFERENCES public."CommercialProperty"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Image Image_countryPropertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "Image_countryPropertyId_fkey" FOREIGN KEY ("countryPropertyId") REFERENCES public."CountryProperty"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Image Image_newBuildingApartmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "Image_newBuildingApartmentId_fkey" FOREIGN KEY ("newBuildingApartmentId") REFERENCES public."NewBuildingApartment"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Image Image_newBuildingComplexId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "Image_newBuildingComplexId_fkey" FOREIGN KEY ("newBuildingComplexId") REFERENCES public."NewBuildingComplex"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Image Image_readyApartmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "Image_readyApartmentId_fkey" FOREIGN KEY ("readyApartmentId") REFERENCES public."ReadyApartment"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Image Image_rentalApartmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "Image_rentalApartmentId_fkey" FOREIGN KEY ("rentalApartmentId") REFERENCES public."RentalApartment"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NearbyPlace NearbyPlace_complexId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."NearbyPlace"
    ADD CONSTRAINT "NearbyPlace_complexId_fkey" FOREIGN KEY ("complexId") REFERENCES public."NewBuildingComplex"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NewBuildingApartment NewBuildingApartment_complexId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public."NewBuildingApartment"
    ADD CONSTRAINT "NewBuildingApartment_complexId_fkey" FOREIGN KEY ("complexId") REFERENCES public."NewBuildingComplex"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: root
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict d4vYV3A5giJH2z6dFbBEOLNRGG0ie1aKOt4vrfhPLq9Ncfo9AprtcdjhD8ZqRjR

